.aligned-with-icon {
  position: absolute;
  margin-top: 5px;
  margin-left: 5px; /* optional */
}

.aligned-with-icon-relative {
  position: relative;
  top: -5px;
  margin-left: 5px; /* optional */
}

.toolbar-row-spacer {
  flex: 1 1 auto;
}

mat-icon {
  transform: scale(1.5);
}
