<mat-toolbar>
    <span class="example-spacer"></span>
    <div fxLayout="row" fxHide="false" fxHide.lt-md fxLayoutAlign="end">

        <div fxFlex="10">
            <a href="/" mat-button>
                <mat-icon>home</mat-icon>
            </a>
        </div>

        <div fxFlex="10">
            <a href="/about" mat-button>
                <mat-icon>info</mat-icon>
            </a>
        </div>

        <div fxFlex="10">
            <a href="/family" mat-button>
                <mat-icon>people</mat-icon>
            </a>
        </div>

        <div fxFlex="10">
            <a href="https://derekpedersen.github.io/#projects" mat-button target="_blank">
                <mat-icon svgIcon="hammer">Projects</mat-icon>
            </a>
        </div>

        <div fxFlex="10">
            <a href="https://github.com/derekpedersen/" mat-button target="_blank">
                <mat-icon svgIcon="github-box">Github</mat-icon>
            </a>
        </div>

        <div fxFlex="10">
            <a href="https://jenkins.pedersen.io" mat-button target="_blank">
                <mat-icon svgIcon="jenkins">Jenkins</mat-icon>
            </a>
        </div>

        <div fxFlex="10">
            <a href="https://www.linkedin.com/in/derek-pedersen-67105415/" mat-button target="_blank">
                <mat-icon svgIcon="linkedin-box">LinkedIn</mat-icon>
            </a>
        </div>

        <div fxFlex="10">
            <a href="https://derek.pedersen.io/api/resume/download" mat-button target="_blank">
                <mat-icon svgIcon="file-pdf-box">Resume</mat-icon>
            </a>
        </div>

        <div fxFlex="10">
            <a href="https://hub.docker.com/u/derekpedersen" mat-button target="_blank">
                <mat-icon svgIcon="docker">Docker</mat-icon>
            </a>
        </div>

        <div fxFlex="10">
            <a href="https://stackoverflow.com/users/1304353/derek-pedersen" mat-button target="_blank">
                <mat-icon svgIcon="stackoverflow">Stackoverflow</mat-icon>
            </a>
        </div>

        <div fxFlex="10">
            <a href="https://derekpedersen.atlassian.net/secure/RapidBoard.jspa?projectKey=DP&rapidView=7" mat-button target="_blank">
                <mat-icon svgIcon="jira">Jira</mat-icon>
            </a>
        </div>

    </div>
    <button mat-button fxShow="false" fxShow.lt-md>
        <mat-icon>menu</mat-icon>
    </button>
</mat-toolbar>
