<mat-tabs mat-sync-route>
    <mat-tab id="home" mat-label="Home" mat-icon="home" to="/" exact></mat-tab>
    <mat-tab id="about" mat-label="About" mat-icon="info" to="/about" exact></mat-tab>
    <mat-tab id="family" mat-label="Family" mat-icon="people" to="/family" exact></mat-tab>
    <mat-tab id="projects" mat-label="Projects" mat-icon="/assets/icons/hammer.svg"
        @click="newWindow('https://derekpedersen.github.io/#projects')" exact></mat-tab>
    <mat-tab id="github" mat-label="Github" mat-icon="/assets/icons/github-box.svg"
        @click="newWindow('https://github.com/derekpedersen')" exact></mat-tab>
    <mat-tab id="jenkins" mat-label="Jenkins" mat-icon="/assets/icons/jenkins.svg"
        @click="newWindow('https://jenkins.pedersen.io')" exact></mat-tab>
    <mat-tab id="linkedin" mat-label="Linkedin" mat-icon="/assets/icons/linkedin-box.svg"
        @click="newWindow('https://www.linkedin.com/in/derek-pedersen-67105415/')" exact></mat-tab>
    <mat-tab id="resume" mat-label="Resume" mat-icon="/assets/icons/file-pdf-box.svg"
        @click="newWindow('https://derek.pedersen.io/api/resume/download')" exact></mat-tab>
    <mat-tab id="docker" mat-label="Docker" mat-icon="/assets/icons/docker.svg"
        @click="newWindow('https://hub.docker.com/u/derekpedersen')" exact></mat-tab>
    <mat-tab id="stackoverflow" mat-label="Stackoverflow" mat-icon="/assets/icons/stackoverflow.svg" @click="
        newWindow('https://stackoverflow.com/users/1304353/derek-pedersen')
      " exact></mat-tab>
    <mat-tab id="hackerrank" mat-label="Hackerrank" mat-icon="/assets/icons/hackerrank.svg"
        @click="newWindow('https://www.hackerrank.com/derekpedersen')" exact></mat-tab>
    <mat-tab id="codefights" mat-label="Codefights" mat-icon="/assets/icons/codefights.svg"
        @click="newWindow('https://app.codesignal.com/profile/drockem')" exact></mat-tab>
    <mat-tab id="jira" mat-label="Jira" mat-icon="/assets/icons/jira.svg" @click="
        newWindow(
          'https://derekpedersen.atlassian.net/secure/RapidBoard.jspa?projectKey=DP&rapidView=7'
        )
      " exact></mat-tab>
</mat-tabs>