<!-- <mat-card>
    <mat-table>
      <mat-table-row>
        <mat-table-head>Tech</mat-table-head>
        <mat-table-head mat-numeric>Experience (Years)</mat-table-head>
        <mat-table-head></mat-table-head>
      </mat-table-row>
      <mat-table-row>
        <mat-table-cell>Golang</mat-table-cell>
        <mat-table-cell mat-numeric
          >2016 - present ({{ yearsExperience(2016) }})</mat-table-cell
        >
        <mat-table-cell
          >Simply the best. What you see is what you get.</mat-table-cell
        >
      </mat-table-row>
      <mat-table-row>
        <mat-table-cell>Kubernetes</mat-table-cell>
        <mat-table-cell mat-numeric
          >2017 - present ({{ yearsExperience(2017) }})</mat-table-cell
        >
        <mat-table-cell>As easy as Sunday mornings.</mat-table-cell>
      </mat-table-row>
      <mat-table-row>
        <mat-table-cell>Helm</mat-table-cell>
        <mat-table-cell mat-numeric
          >2019 - present ({{ yearsExperience(2019) }})</mat-table-cell
        >
        <mat-table-cell>As easy as Sunday mornings.</mat-table-cell>
      </mat-table-row>
      <mat-table-row>
        <mat-table-cell>Docker</mat-table-cell>
        <mat-table-cell mat-numeric
          >2015 - present ({{ yearsExperience(2015) }})</mat-table-cell
        >
        <mat-table-cell></mat-table-cell>
      </mat-table-row>
      <mat-table-row>
        <mat-table-cell>Java</mat-table-cell>
        <mat-table-cell mat-numeric
          >2019 - present ({{ yearsExperience(2019) }})</mat-table-cell
        >
        <mat-table-cell>1 billion devices and contracting.</mat-table-cell>
      </mat-table-row>
      <mat-table-row>
        <mat-table-cell>Ruby on Rails</mat-table-cell>
        <mat-table-cell mat-numeric
          >2019 - present ({{ yearsExperience(2019) }})</mat-table-cell
        >
        <mat-table-cell>I don't like Ruby on Rails.</mat-table-cell>
      </mat-table-row>
      <mat-table-row>
        <mat-table-cell>C#</mat-table-cell>
        <mat-table-cell mat-numeric>2012 - 2018 (6)</mat-table-cell>
        <mat-table-cell
          >Spent a lot of time with .NET starting at 3.0 till
          4.6.</mat-table-cell
        >
      </mat-table-row>
      <mat-table-row>
        <mat-table-cell>Visual Basic</mat-table-cell>
        <mat-table-cell mat-numeric>2012 - 2018 (6)</mat-table-cell>
        <mat-table-cell
          >If you work in a .NET shop that existed before 2010, you will
          encounter Visual Basic.</mat-table-cell
        >
      </mat-table-row>
      <mat-table-row>
        <mat-table-cell>Angular</mat-table-cell>
        <mat-table-cell mat-numeric
          >2014 - present ({{ yearsExperience(2014) }})</mat-table-cell
        >
        <mat-table-cell
          >Dealt with the 1.0, 1.5+, and 2.0+ changes and it's still probably my
          favorite frontend framework.</mat-table-cell
        >
      </mat-table-row>
      <mat-table-row>
        <mat-table-cell>React</mat-table-cell>
        <mat-table-cell mat-numeric
          >2017 - present ({{ yearsExperience(2017) }})</mat-table-cell
        >
        <mat-table-cell
          >It has grown on me, but I'd probably pick Vue over React for a
          greenfield project.</mat-table-cell
        >
      </mat-table-row>
      <mat-table-row>
        <mat-table-cell>Vue</mat-table-cell>
        <mat-table-cell mat-numeric
          >2019 - present ({{ yearsExperience(2019) }})</mat-table-cell
        >
        <mat-table-cell
          >If only putting together a small frontend this is now my default
          choice.</mat-table-cell
        >
      </mat-table-row>
    </mat-table>
  </mat-card> -->
